// Footer
// footer.footer>.container
footer.footer
  // footer-top
  .footer-top
    .container
      // footer-top__contentc cho background
      .footer-top__content
        .footer-newsletter
          img(src='img/fly-icon.png' alt='fly-icon')
          .newsletter-title
            h3 &Dstrok;&abreve;ng k&yacute; nh&#x1EAD;n &#x1B0;u &dstrok;&atilde;i
        // 
        .newsletter-desc
          p
            | ...v&agrave; Voucher 
            strong  mi&#x1EC5;n ph&iacute; cho &dstrok;&#x1A1;n h&agrave;ng &dstrok;&#x1EA7;u ti&ecirc;n
        // 
        form.newsletter-form
          input.newsletter-input(type='email' placeholder='Địa chỉ email của bạn' required='')
          input.newsletter-input__btn(type='submit' value='Đăng ký')
  .container
    // Footer-main
    .footer-main
      // footer-main__store
      .footer-main__store
        img(src='img/Logo_The-gioi-cau-long_footer.png' alt='')
        h3 H&#x1EC7; th&#x1ED1;ng c&#x1EED;a h&agrave;ng c&#x1EA7;u l&ocirc;ng chuy&ecirc;n nghi&#x1EC7;p
        p H&#x1ED9; kinh doanh Th&#x1EBF; gi&#x1EDB;i c&#x1EA7;u l&ocirc;ng 
        p &Dstrok;&#x1ECB;a ch&#x1EC9;: 236 M&#x1EF9; &Dstrok;&igrave;nh, Ph&#x1B0;&#x1EDD;ng M&#x1EF9; &Dstrok;&igrave;nh 2, Nam T&#x1EEB; Li&ecirc;m, H&agrave; N&#x1ED9;i.
        p MST:846847425-002
      // footer-main__info
      .footer-main__info
        .footer-main__info-column
          .footer-main__info-title
            h3 Th&#x1EBF; gi&#x1EDB;i c&#x1EA7;u l&ocirc;ng
          .footer-main__info-item
            a(href='#')
              span V&#x1EC1; Th&#x1EBF; gi&#x1EDB;i c&#x1EA7;u l&ocirc;ng
          .footer-main__info-item
            a(href='#')
              span Li&ecirc;n h&#x1EC7;
          .footer-main__info-item
            a(href='#')
              span Tuy&#x1EC3;n d&#x1EE5;ng
        .footer-main__info-column
          .footer-main__info-title
            h3 &Dstrok;&#x1A1;n h&agrave;ng
          .footer-main__info-item
            a(href='#')
              span Ki&#x1EC3;m tra &dstrok;&#x1A1;n h&agrave;ng
          .footer-main__info-item
            a(href='#')
              span Ch&iacute;nh s&aacute;ch v&#x1EAD;n chuy&#x1EC3;n
          .footer-main__info-item
            a(href='#')
              span Ch&iacute;nh s&aacute;ch &dstrok;&#x1ED5;i tr&#x1EA3;
          .footer-main__info-item
            a(href='#')
              span Ch&iacute;nh s&aacute;ch b&#x1EA3;o h&agrave;nh
    // footer-bottom
    .footer-bottom
      .footer-copyright Copyright 2025 &copy; Th&#x1EBF; gi&#x1EDB;i C&#x1EA7;u l&ocirc;ng
      .footer-paymentmethod
        .payment-method-item
          span(style='font-weight:700') VISA
        .payment-method-item
          span PayPal
        .payment-method-item
          span(style='font-weight: 700') striple
        .payment-method-item
          span CASH ON DELIVERY
