footer.footer
  //- footer-top
  .footer-top
    .container
      //- footer-top__contentc cho background
      .footer-top__content
        .footer-newsletter
          img(src='/images/fly-icon.png' alt='fly-icon')
          .newsletter-title
            h3 Đăng ký nhận ưu đãi
        //- 
        .newsletter-desc
          p
            | ...và Voucher
            strong  miễn phí cho đơn hàng đầu tiên
        //- 
        form.newsletter-form
          input.newsletter-input(type='email' placeholder='Địa chỉ email của bạn' required='')
          input.newsletter-input__btn(type='submit' value='Đăng ký')
  .container
    //- Footer-main
    .footer-main
      //- footer-main__store
      .footer-main__store
        img(src='/images/Logo_The-gioi-cau-long_footer.png' alt='')
        h3 Hệ thống cửa hàng cầu lông chuyên nghiệp
        p Hộ kinh doanh Thế giới cầu lông
        p Địa chỉ: 236 Mỹ Đình, Phường Mỹ Đình 2, Nam Từ Liêm, Hà Nội.
        p MST:846847425-002
      //- footer-main__info
      .footer-main__info
        .footer-main__info-column
          .footer-main__info-title
            h3 Thế giới cầu lông
          .footer-main__info-item
            a(href='/')
              span Về Thế giới cầu lông
          .footer-main__info-item
            a(href='/#hotlineModal')
              span Liên hệ
          .footer-main__info-item
            a(href='/news/detail/the-gioi-cau-long-tuyen-dung')
              span Tuyển dụng
        .footer-main__info-column
          .footer-main__info-title
            h3 Đơn hàng
          .footer-main__info-item
            a(href='/tracking-product')
              span Kiểm tra đơn hàng
          .footer-main__info-item
            a(href='/policy/shippingPolicy')
              span Chính sách vận chuyển
          .footer-main__info-item
            a(href='/policy/returnPolicy')
              span Chính sách đổi trả
          .footer-main__info-item
            a(href='/policy/warrantyPolicy')
              span Chính sách bảo hành
    //- footer-bottom
    .footer-bottom
      .footer-copyright Copyright 2025 © Thế giới Cầu lông
      .footer-paymentmethod
        .payment-method-item
          span(style='font-weight:700') VISA
        .payment-method-item
          span PayPal
        .payment-method-item
          span(style='font-weight: 700') striple
        .payment-method-item
          span CASH ON DELIVERY
