/* Header */
.header{
  background: #202020;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 999;
}

.header .inner-logo a{
  font-size: 24px;
  font-weight: 700;
  color: white;
}

/* End header */

/* Body */
.body .sider{
  width: 150px;
  background: #323232;
  color: white;
  height: calc(100vh - 56px);
  position: fixed;
  top: 56px;
  left: 0;
}

.body .main{
  margin: 15px;
  position: relative;
  left: 150px;
  width: calc(100% - 180px);
}

[button-edit]{
  margin-left: 4px;
}
/* End Body */

/* Sider */
.sider .inner-menu ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.sider .inner-menu ul li a{
  color: white;
  display: block;
  padding: 6px 10px;
  border-bottom: 1px solid #515151;
}
/* End Sider */

/* Show alert */
[show-alert] {
  position: fixed;
  top: 70px;
  right: 0;
  z-index: 9999;
  animation: countdown 4s ease forwards;
  animation: show-alert 2s ease forwards;
}

[show-alert].alert-hidden{
  animation-name: alert-hidden;
  animation-duration: 0.5s; /* thời gian animation chạy */
  animation-fill-mode: both;/*chỉ định kiểu cho phần tử khi thực hiện animation và both là sẽ thực hiện cả 2 hướng */
}

[show-alert] [close-alert]{
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: 600;
  border-radius: 50%;
  cursor: pointer;
}

@keyframes countdown{
    0%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}

@keyframes show-alert{
    0%{
        transform: translateX(100%);
    }

    25%{
        transform: translateX(-10%);
    }
    50%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(-10px);
    }
}

@keyframes alert-hidden{
    0%{
        transform: translateX(-10%);
    }

    25%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-10%);
    }

    100%{
        transform: translateX(200%);
    }
}

[button-add-product]{
  position: absolute;
  right: 0;
}

/* End show alert */

/* upload image */
.upload-image{
  margin-top: 10px;
  width: 300px;
  position: relative;
}

[upload-image-preview]{
  width: 100%;
  object-fit: cover;
}

.upload-image i{
  position: absolute;
  top: -33px;
  right: 0;
  cursor: pointer;
}

.hide{
  display: none;
}
/* end upload image */

/* detail product */
[image-detail-product]{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/*End detail product */