/* header */
body {
  /* font-size:62.5%; */
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  line-height:1.6;
}
* {
  box-sizing: border-box;
}
:root{
  --header-bg:#08222f;
  --button-bg:#ffde02;
  --hover-button-bg:#CCB202;
  --product-description:#103664;
}

.header{
  background-color: var(--header-bg);
  width:100%;
  position: sticky;
  top:0px;
  z-index: 1000;
}
.container{
  max-width:1340px;
  margin:0 auto; /* căn giữa */
  padding-left: 15px;
  padding-right: 15px;
  
}

a{
  text-decoration:none !important;
}

.header-top {
  align-items: center;
  display: flex;
  width:100%;
  
}

.header-top__logo img {
  width: 190px;
  height: 70px;
}
.header-top__middle {
  display: flex;
  
  flex:1;/* ← Chiếm không gian còn lại */
  margin-left:60px;
  margin-right:20px;
  /* padding: 0px 15px 0px 0px; */
}

.search-form{
  display:flex;
  flex:1;
}
/* Input search */

input[type=search]{
  height: 48px;
  flex:1;
  padding: 0 10px;
  border-radius: 10px;
  border:0px;
}

.header-top__search{
  width: 48px;
  height: 48px;
  margin: 0px 0px 0px 14px;
  padding: 0px 8px;
  border-radius: 10px;
  background-color: var(--button-bg);
  border:0px;
}
.header-top__search i {
  height: 16px;
  width: 16px;
}

/* hotline */
.header-top__hotline {
  width: 140px;
  height: 48px;
  padding:3px 15px;
  margin-left: 14px;
  background-color: var(--button-bg);
  border-radius: 10px;
  border:none;
  display: flex;
  /* căn giữa ở trên */
  align-items: center;
  /* căn giữa 2 bên */
  justify-content: center;
}

.header-top__hotline span {
  display:inline-block;
  color: #221f20;
  font-size: 18px;
  font-weight: bold;
}
.header-top__hotline i {
  width: 18px;
  height: 17px;
  color: #000000;
}
button.header-top__search:hover  {
  background-color:#CCB202;
}
.header-top__hotline:hover {
  background-color:#CCB202;
}

/* Holine overlay */

/* Ẩn modal mặc định */
.contact-modal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

/* Hiển thị modal khi được target  */
.contact-modal:target {
  display: block;
}

/* Overlay background */
.modal-overlay {
  position:fixed;
  left:0;
  right:0;
  width: 100%;
  height: 100%;
  background: #00000066; /* Màu tối với opacity */
  z-index: 1000;
}

.contact-list{
  position: fixed;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%); /*Dịch chuyển ngược lại 50% chiều rộng và 50% chiều cao của chính element*/
  z-index: 1003;
  width: 90%;
  max-width: 500px;
  padding: 20px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 0px 25px #111111;
}
/* Nút đóng */
.modal-close {
    position: absolute;
    top: -5px;
    right: 4px;
    font-size: 24px;
    color: #333;
    font-weight: bold;
    z-index: 1002;
}

.contact-list :last-child{
  border:none;
  padding:0px;
  margin:0px;
  
}

.item-overlay{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom:1px solid #C6C6C6;
  margin-bottom: 15px;
  padding-bottom:15px;
  font-size:16px;
  gap:15px;
}

.branch-info h3{
  font-size:1.25em;
  width:auto;
  margin:0;
  font-weight: 600;
}

.call-btn{
  display: flex;
  flex-flow: column;
  font-size: 14px;
  width: 70px;
  height: 62px;
  align-items: center;
}
.call-btn img{
  width:40px;
  height: auto;
  max-width: 100%;
  display: block;
}
.call-btn span{
  font-size: 14px;
  font-weight: 400;
  vertical-align: middle;
  color:#103664;
}

.modal-close:hover {
    color: #ff0000;
}

/* Ngăn scroll body khi modal mở */
body:has(.contact-modal:target) {
    overflow: hidden;
}



/* user actions */

.header-top__actions {
  width: 130px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

a.user-action__item {
  position:relative; 
  display: flex;
  align-items: center;
  justify-content: center;
  width:32px;
  height: 32px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
  margin-right:7px;
  
}
.user-action__item i {
  position:absolute;
  left:8px;
  height: 16px;
  width: 16px;
}
/* cart */
.cart-handle {
  position: absolute;
  width: 16px;
  height: 9px;
  top:-9px;
  
  border: 2px solid #FFFFFF;
  border-radius: 10px 10px 0 0; 
  border-bottom:none;
}

.user-action__item:hover{
  background-color:#221F20;
  border:0px;
}
.cart-item:hover{
  background-color: #ffffff; /* ← Cart-handle thành màu trắng */
  color:#000000;
}
/* css header-bottom */
.header-bottom {
  display:flex;
  align-items: center;
  justify-content: space-between;
  width:100%;
}
/* Nav left */
.header-bottom__nav{
  display:flex;
  justify-content: flex-start;
  padding-left:235px;
}
.header-bottom__nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-nav__item a {
  display:flex;
  padding:16px 15px;
  color: #ffffffcc;
  align-items:center;
  gap:4px;
}
.main-nav__item li{
  background-color: #fff;
  
}

/* dropdown */
.main-nav li{
  position: relative;
}
ul.sub-menu  {
  display:none;
  width:200px;
  position: absolute;
  box-shadow: 0 5px 15px #0000001A; /* ← Hiệu ứng nổi */
}

ul.sub-menu a{
  padding:0px 15px;
  color:#000000;
}

ul.sub-menu li  {
  padding:10px 0px;
  border-bottom:1px solid #ECECEC;
}
ul.sub-menu li:last-child{
  border-bottom:none;
}

ul.sub-menu i{
  position:absolute;
  left:180px;
  color:#707070;
}
ul.sub-menu li:hover i {
  color:#111111;
}

/* Style cho dropdown cấp 2 */ 
a.dropdown-item:hover{
  background-color: #ffffff;
}
ul.sub-menu ul.sub-menu{
  left:200px;
  top:0px;
  width:600px;
  /* chia cột */
  column-count: 3; /* Tự động chia cột */
  column-width: 100px; /* Mỗi cột rộng 200px */
  column-gap: 0;
}
ul.sub-menu ul.sub-menu li{
  box-shadow:0px 5px 15px #0000001A;
}

ul.sub-menu ul.sub-menu li a{
  color:rgba(74, 74, 74, 0.85);
}

ul.sub-menu ul.sub-menu li a:hover{
  color:#333333;
}



/* khi hover vào thì tác động đến submenu(sub-menu) ở cấp trực tiếp */
.main-nav li:hover > ul.sub-menu {
  display: block;
}


/* Thiết lập border khi hover */
.main-nav>li>a{
  position:relative;
}
.main-nav>li>a::before{
  content:"";
  position:absolute;
  left:0px;
  bottom:0px;
  width:0px;
  height:2px;
  background-color:var(--button-bg);
  /* không dùng display:none */
  transition:0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}
/* Khi hover vào li tác động vào before của a */
.main-nav>li:hover>a::before{
  width:100%
}

/*Utility Links  */

.util-link img{
  height: 16px;
  width:16px;
}
/* user acconunt */
.user-account{
  display:flex;
  justify-content: space-between;
  list-style: none;
  margin-top:1rem;
}
.user-account a{
  position:relative;
  margin-right:20px;
  color:#ECECEC;
}
.user-account a:hover{
  color:var(--button-bg);
}

/* End header */

/* Footer */

.footer-top{
  background-color: var(--button-bg);
  width:100%;
  
}
.footer-top__content{
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-newsletter{
  display: flex;
  align-items: center;
  justify-content:space-between;
}
.footer-newsletter img{
  width: 40px;
  height: 36px;
}
.newsletter-desc p{
  margin-top: 1em;
  margin-bottom: 1em;
}
.newsletter-form{
  display: flex;
}
.newsletter-title{
  padding:0px 0px 0px 16px;
  
}
.newsletter-title h3{
  font-size: 1.17rem;
  font-weight:bold;
}

input[type="email"]{
  width: 370px;
  height:39px;
  padding:0px 15px;
  border-radius:7px 0px 0px 7px;
  border:1px solid #DDDDDD;
  
}
.newsletter-input__btn{
  height:39px;
  background-color:#221F20;
  color:#FFFFFF;
  font-size:18px;
  font-weight:bold;
  margin-left:0px;
  padding:10px 25px;
  border:1px solid #C2A407;
  border-radius: 0 7px 7px 0;
  line-height:19px; 
}

/* Footer main */
.footer-main{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom:1px solid #CCCCCC;
  padding:0 15px;
}
.footer-main__store{
  text-align:center;
}
.footer-main__store h3{
  font-size:24px;
  margin:0px 0px 12px;
}
.footer-main__store img{
  width:200px;
  height:auto;
}
.footer-main__store p {
  margin:0px 0px 6px;
}

/* Footer main info */
.footer-main__info{
  display: flex;
}
.footer-main__info-column{
  width:250px;
  padding:0px 15px;
  margin-right:15px;
}
.footer-main__info-column h3{
  font-size:20px;
  margin:0px 0px 15px;
  font-weight:bold;
}
.footer-main__info-item{
  
  padding:5px 0px;
  margin-bottom:6px;
  border-bottom:1px solid #ECECEC;
}
.footer-main__info-item span{
  color:#353535;
}
.footer-main__info-item span:hover{
  color:#0b3a4a;
}

/* Footer bottom */
.footer-bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top:15px;
}

/* Footer paymenthod */
.footer-paymentmethod{
  display: flex;
}
.footer-paymentmethod div{
  margin-right:8px;
  background-color:#E2E2E2;
  color:#6E6B6B;
  padding:5px;
  border-radius:5px;
}
.footer-paymentmethod div:hover{
  color:#000000;
}

/* End footer */
<<<<<<< HEAD
=======
/* Main */

/* Banner top */
/* Banner top */
.banner-top{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.banner-top__left{
  flex: 60%;
  padding:15px 15px 15px 0px; 
}

.banner-top__right{
  flex: 40%;
  padding:15px 15px 15px 0px;
}

.slider-container a {
  display: block;
}

.banner-top img{
  width:100%;
  height:400px;
  object-fit:cover;
  border-radius: 10px;
  pointer-events: none; /* Ngăn kéo ảnh */
}

/* Slider Container */
.slider-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}
.slider-container:active {
  cursor: grabbing; /* Hiển thị cursor grabbing khi đang kéo */
}
.slides {
  display: flex;
  width: 700%; /* 7 slides * 100% */
  height: 100%;
  transition: transform 0.6s ease-in-out;
}

.slider {
  flex:calc(100%/7); /* Mỗi slide chiếm  */
  display: block;
}

/* Navigation Dots */
.navigation-slides{
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 10;
}

.nav-btn{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-btn:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.nav-btn.active {
  background-color: #fff;
  transform: scale(1.2);
}

/* Nút prev và next */
.slider-controls {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  padding: 0 10px; /* Khoảng cách từ hai bên */
  
}

.slider-prev, .slider-next {
  width: 30px;
  height: 80px;
  background-color: #FFFFFFB3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.slider-prev:hover, .slider-next:hover {
  background-color: #FFFFFF;
}

/* Banner-top__right */
.slides.right{
  width:400%;
}

.slides.right a{
  flex: 0 0 calc(100%/4); /* Mỗi slide chiếm  */
  display: block;
}

/*  */
.control-right div{
  border-radius:50%;
  width:50px;
  height:50px;
  background: transparent;
  border:2px solid #F6F6F8;
}
.control-right i{
  color:#F6F6F8;
}

/* Hover đồng thời */
.slider-controls.control-right>div:hover{
  background-color:#111111;
  border:none;
}
.slider-controls.control-right>div:hover i{
  color:#FFFFFF;
}

/* Ẩn nút điều khiển khi không hover (tuỳ chọn) */
.control-right {
  opacity: 0;
  transition: opacity 0.3s;
}

/* Hover cha thì con xuất hiện */
.container-right:hover .control-right {
  opacity: 1;
}


/* Banner bottom */
.banner-bottom{
  width:100%;
  height:200px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  
}
.banner-bottom__item{
  margin:15px 15px 15px 0px;
  flex:1;
  height:100%;
}
.banner-bottom__item img{
  width: 100%;
  height:100%;
  border-radius:10px
}


/* Flash sales section */

.flash-sale{
  display: flex;
  justify-content: space-between;
  
}

/* featured-product */
.featured-product{
  flex:30%;
  padding:20px;
  margin:20px 0px;
  border-radius: 15px;
  border:1px solid var(--button-bg);
}
.featured-container{
  width:100%;
  text-align: center;
  align-items:center;
  position:relative;
}
.section-title{
  font-size:20px;
  text-align: center;
}
.product-link{
  display:inline-block;
  color:var(--product-description);
}
.product-link.featured{
  height:70%;
}
.product-image.featured{
  height:70%;
  object-fit:contain;
}

.product-description{
  margin-top:1em;
}
.product-name{
  margin-top:0px;
  color:var(--product-description);
}


/* Price */
.sale-price{
  margin-right:5px;
  color:#B20000;
}
.original-price{
  text-decoration: line-through;
  color:#707070;
}

/* Start */
ul.rating-stars.featured{
  justify-content: center;
  padding:0px;
}

/* giảm giá  */
.discount-tag.featured{
  height: 60px;
  width: 60px;
  border-radius:50%;
  background-color:var(--button-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  top:30%;
  right:15px;
  transform: translateY(-30%);
}
.discount-tag.featured span{
  font-weight: bold;
}


/* Flash sale giá sốc */
.flash-sale-wrapper{
  flex: 70%;
  padding:0px 15px;
  margin:20px 0px;
  overflow: hidden;
}
.flash-sale-product{
  background: linear-gradient(#FDDC02,#221F20);
  width:100%;
  border-radius:15px;
  padding:10px 20px;
  margin:0px 0px 30px;
}

.flash-sale-title{
  font-size:28px;
  font-weight:bold;
  display: flex;
  align-items:center;
  gap:5px;
}
.flash-sale-title span:first-child{
  display: flex;
  align-items:center;
  color:#B20000;
}
.flash-sale-title span:last-child{
  color:#FFFFFF;
}
.flash-icon{
  height:28px;
}

/* container-products */
.container-products{
  margin-bottom:15px;
  width:100%;
  position:relative;
  overflow: hidden;
}
.product-slides{
  width:400%;
  display: flex;
  justify-content: space-between;
  align-items:center;
  transition: transform 0.5s ease;
  gap:20px;
}

.product-group{
  display: flex;
  align-items:center;
  /* 4 nhóm sản phẩm mỗi nhóm 25% chiếm toàn bộ container */
  width:25%;
  gap:20px;

}

.product-card{
  padding-bottom: 20px;
  background-color: #fff;
  border-radius:15px;
  flex:1;
  position:relative;
  transition: 0.2s ease-in;
}
.product-card:hover{
  transform:  scale(1.02) translateZ(10px);
}

.box-text-product a{
  line-height: 1.3;
  margin-bottom: .3em;
  margin-top: .1em;
  height:120px;
}
    

/* Kéo và slider */
/* Container product slider */
.container-products {
    cursor: grab;
    user-select: none;
    position: relative;
}

.container-products:active {
    cursor: grabbing;
}

/* Hiệu ứng khi kéo */
.container-products.grabbing .product-card {
    transform: scale(0.98);
    transition: transform 0.3s ease;
}

.box-product-image {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:15px 15px 0 0 ;
  margin-bottom: 15px;
  overflow: hidden; 
}
.product-link{
  display:block;
  width:100%;
  height:100%;
  
}
.product-image{
  width:100%;
  height:100%;
  object-fit:cover;
}
.box-text-product{
  padding:5px 15px; 
}

/* 5 sao */
ul.rating-stars{
  display: flex;
  list-style: none;
  padding:0px;
}

/* Giảm giá */
.discount-tag{
  display: flex;
  justify-content: center;
  align-items: center;
  height:30px;
  width:60px;
  border-radius:0px 15px 15px  0px;
  background-color:var(--button-bg);
  position:absolute;
  top:0px;
}

/* Slider product */
.slider-product{
  top:47%;
  left:0;
  right:0;
  opacity: 0;
  transition: opacity 0.3s;
}
/* Nút điều khiển */
.container-products:hover .slider-product{
  opacity:1; 
}
.slider-product div{
  box-shadow: 0 0 15px #0000001A
}


/* Section Best seller */
.product-section.best-seller{
  background-color: #ADE603;
  width:100%;
  margin-bottom:20px;
}
.product-wrapper{
  padding:20px 0px;
}
.best-seller{
  display: flex;
  justify-content:space-between;
  
}

.best-seller-banner{
  flex:20%;
}
.product-list{
  flex:80%;
  height:100%;
}
.title{
  margin-bottom:10px;

}
.title span{
  font-size:20px;
  font-weight:bold;
}

/* Banner best seller */
.best-seller-banner{
  padding:0px 20px 0px 0px;
  
}
.slider-container.best-seller{
  display:block;
  width:100%;
  height:100%;
  padding-bottom:14px;
  overflow:hidden;
}
.slides.best-seller{
  width:400%;
  height:100%;
  transition: transform 0.5s ease;
}
.banner-slide{
  width:25%;
  position:relative;
}
.best-seller-banner__img{
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius:10px;
}

/* Button xem thêm */
.banner-cta{
  
  position:absolute;
  margin-bottom: 21px;
  left:50%;
  transform: translateX(-50%);
  bottom:0;
  padding:5px 10px;
  background-color: var(--button-bg);
  border-radius:10px;
  border:none;
  text-align: center;
  width:97px;
}

.banner-cta span{
  font-size:12.6px;
  color:#221F20;
  font-weight:bold;
}

.banner-cta:hover{
  color:#FFFFFf;
  background-color:var(--hover-button-bg);
}
/* Nút control */
.slider-controls.product div{
  width:40px;
  height:40px;
  border-radius:50%;
  opacity:0;
  transition:opacity 0.5s;
}
.slider-container.best-seller:hover .slider-controls.product div{
  opacity:1;
}

/* slider */
/* QUAN TRỌNG: Ngăn chặn chọn văn bản và hình ảnh khi kéo - ÁP DỤNG CHO TẤT CẢ SLIDER */
.slider-container, .container-products,
.slider-container *, .container-products * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

.slider-container img, .container-products img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    /* user-drag: none; */
    pointer-events: none;
}

/* Áp dụng chung cho tất cả slider-container */
.slider-container {
    cursor: grab;
}

.slider-container:active {
    cursor: grabbing;
}

/* Thẻ a trong slider */
.slider-container a {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    /* user-drag: none; */
    pointer-events: auto; /* Vẫn cho phép click nhưng không cho drag ảnh */
}

.slider-container a:active {
    cursor: grabbing !important;
}

/* Hiệu ứng khi kéo */
.slider-container.grabbing {
    cursor: grabbing;
}

.slider-container.grabbing .slider {
    transform: scale(0.98);
    transition: transform 0.1s ease;
}

/* Đảm bảo slides vẫn có thể kéo được */
.slides {
    cursor: grab;
}

.slides:active {
    cursor: grabbing;
}

/* Đảm bảo các nút điều khiển vẫn có thể click được */
.slider-prev,
.slider-next,
.nav-btn {
    pointer-events: auto;
    cursor: pointer;
}


/* Product best seller */
.product-list{
  width:100%;
}

.product-group.item{
  width:100%;
  justify-content:space-between;
  padding-bottom:15px;
  align-items:center;
}
.product-card.item{
  width:25%;
  height:100%;
  box-shadow:0 0 5px #ccc;
}


/* Banner middle */
.banner-middle-section{
  margin-bottom:20px;
}
.banner-middle{
  display: flex;
  justify-content: space-between;
  
}
.banner-middle img{
  object-fit:cover;
  width:100%;
  height:100%;
}

.col-left{  
  flex:50%;
  padding:15px 15px 15px 0px;
  overflow:hidden;
  border-radius: 10px;
}

.banner-middle__left a{
  display: block;
  width:100%;
  height:100%;
}


/* banner-middle__right */
.col-right{  
  flex:50%;
  padding:15px 0px 15px 15px;
  
}
/* banner-middle-right__top */
.banner-middle-right__top{
  height:50%;
  width:100%;
  display: flex;
  justify-content:space-between;
  padding-bottom:30px;
}


.banner-right-top__left{
  flex:1;
  padding-right:20px;

}
.banner-right-top__left img{
  height:100%;
  width:100%;
}

.banner-right-top__right{
  flex:1;
  padding-left:20px;
}
.banner-middle-right__top img{
  height:100%;
  width:100%;
  border-radius:10px;
}
.banner-middle__right a{
  overflow:hidden;
  border-radius: 10px;
}
.banner-middle__right img{
  transition: transform 1s ease-in;
}
.banner-middle__right img:hover{
  transform: scale(1.03);
  
}



/*.banner--middle-right__bottom */
.banner-middle-right__bottom{
  display:block;
  width:100%;
  height:50%; 
}

.banner-middle-right__bottom a{
  display: block; 
  width:100%;
  height:100%;
  
}
.banner-middle-right__bottom img{
  width: 100%;
  height: 100%;
  border-radius:10px;
}

/* Tin tức */
.news-section{
  margin-bottom:20px;
}
.news{
  display: flex;
  justify-content:space-between;

}
.news-wrapper a{
  display: block;
  width:100%;
  color:#111111;
}
.news img{
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius:10px;
}
.news-content{
  display: flex;
  align-items:center;
  gap:5px;
}
.show-more:hover{
  color:var(--button-bg);
}
/* Left */
.col-left{
  padding:15px 15px 15px 0;
}
.news-link{
  font-size: 18px;
  font-weight:bold;
}
/* Right */

.news-group {
  display: flex;
  justify-content:space-between;
  width:100%;
}
.news-item{
  width:50%;
  padding-right:20px;
}
.news-group {
  padding-bottom:20px;
}

/* see more */
.show-more-btn{
  text-align:center;
  padding:15px 0px ;
}


/* Hệ thống cửa hàng */
.stores-section{
  margin:20px 0px;
}
.title.stores{
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap:15px;
  width: 100%;
}
.title.stores b{

  background-color: #E7E7E7;

  flex: 1;
  height: 2px;
  opacity: 1;
}
.stores-group{
  display: flex;
  justify-content:space-between;
  width:100%;
  gap:20px;
}
.col3{
  width:33.3% ;
}

.store-item img{
  width:100%;
  border-radius:10px;
}
.store-info ul{
  list-style: none;
  padding:0;
  margin-top:10px;
}
.store-info ul li{
  display: flex;
  align-items:center;
  gap:8px;
}
.store-info i{
  color:var(--button-bg);
}


.store-map{
  width:100%;
  height:100%;
}
.store-map iframe{
  width:100%;
  height:500px;
}
.map-container {
    width: 100%;
    height: 500px !important; /* !important để ghi đè CSS khác */
    border: 2px solid red !important; /* Để nhìn thấy khung */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
    position: relative;
} 
#map {
    border: 2px solid red !important; /* Thêm tạm để kiểm tra */
}

/* Service*/
.services-section{
  margin-bottom: 20px;
}
.services-group{
  display: flex;
  justify-content:space-between;
  align-items:center;
  width:100%;
  gap:20px;
}
.service-item{
  padding:15px 0;
  text-align:center;
}
.service-item img{
  display: inline-block;
  height:60px;
  width:60px;
}
.service-name span{
  font-size:20px;
  font-weight:bold;
}

/* contact */
.contacts-section{
  position: fixed;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px;
  border-radius: 3px;
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0 0 3px #ccc;
  text-align: center;
}
.contact-item{
  width: 50px;
  height: 65px;

  cursor:pointer;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  align-items: center;
  justify-content:center;
}
.contact-item img{
  width: 40px;
  height: 40px;
  object-fit: cover;
  display: block;
  
}
>>>>>>> eba58df71d3af13c2dd08ef52e6cf588425bd40b


/* Show alert */
[show-alert] {
  position: fixed;
  top: 70px;
  right: 0;
  z-index: 9999;
  animation: countdown 4s ease forwards;
  animation: show-alert 2s ease forwards;
}

[show-alert].alert-hidden{
  animation-name: alert-hidden;
  animation-duration: 0.5s; /* thời gian animation chạy */
  animation-fill-mode: both;/*chỉ định kiểu cho phần tử khi thực hiện animation và both là sẽ thực hiện cả 2 hướng */
}

[show-alert] [close-alert]{
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: 600;
  border-radius: 50%;
  cursor: pointer;
}

@keyframes countdown{
    0%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}

@keyframes show-alert{
    0%{
        transform: translateX(100%);
    }

    25%{
        transform: translateX(-10%);
    }
    50%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(-10px);
    }
}

@keyframes alert-hidden{
    0%{
        transform: translateX(-10%);
    }

    25%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-10%);
    }

    100%{
        transform: translateX(200%);
    }
}

/* End show alert */

/* pagination */
.pagination {
  display: flex;         
  justify-content: center; 
  list-style: none;      
  padding-left: 0;
  margin-top: 2rem;
  margin-bottom: 30px;      
}

.page-item {
  margin: 0 4px; 
}

.page-link {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  font-weight: 600;
  width: 40px;
  height: 40px;
  border-radius: 50% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #000000;
  border: 1.5px solid #000000;
  transition: all 0.2s ease;
}

.page-item.disabled .page-link {
  border: none;
  background: none;
  color: #555; 
  cursor: default; 
}

.page-item:not(.active):not(.disabled) .page-link:hover {
  background-color: #f0f0f0; 
}

.page-item.active .page-link {
  background-color: #000000;
  color: #ffffff;
  border-color: #000000;
}
/* end pagination*/