/* header */
body {
  /* font-size:62.5%; */
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  line-height:1.6;
}
* {
  box-sizing: border-box;
}
:root{
  --header-bg:#08222f;
  --button-bg:#ffde02;
  --hover-button-bg:#CCB202;
}

.header{
  background-color: var(--header-bg);
  width:100%;
  position: sticky;
  top:0px;
  z-index: 1000;
}
.container{
  max-width:1340px;
  margin:0 auto; /* căn giữa */
  padding-left: 15px;
  padding-right: 15px;
  
}

a{
  text-decoration:none !important;
}

.header-top {
  align-items: center;
  display: flex;
  width:100%;
  
}

.header-top__logo img {
  width: 190px;
  height: 70px;
}
.header-top__middle {
  display: flex;
  
  flex:1;/* ← Chiếm không gian còn lại */
  margin-left:60px;
  margin-right:20px;
  /* padding: 0px 15px 0px 0px; */
}

.search-form{
  display:flex;
  flex:1;
}
/* Input search */

input[type=search]{
  height: 48px;
  flex:1;
  padding: 0 10px;
  border-radius: 10px;
  border:0px;
}

.header-top__search{
  width: 48px;
  height: 48px;
  margin: 0px 0px 0px 14px;
  padding: 0px 8px;
  border-radius: 10px;
  background-color: var(--button-bg);
  border:0px;
}
.header-top__search i {
  height: 16px;
  width: 16px;
}

/* hotline */
.header-top__hotline {
  width: 140px;
  height: 48px;
  padding:3px 15px;
  margin-left: 14px;
  background-color: var(--button-bg);
  border-radius: 10px;
  border:none;
  display: flex;
  /* căn giữa ở trên */
  align-items: center;
  /* căn giữa 2 bên */
  justify-content: center;
}

.header-top__hotline span {
  display:inline-block;
  color: #221f20;
  font-size: 18px;
  font-weight: bold;
}
.header-top__hotline i {
  width: 18px;
  height: 17px;
  color: #000000;
}
button.header-top__search:hover  {
  background-color:#CCB202;
}
.header-top__hotline:hover {
  background-color:#CCB202;
}

/* Holine overlay */

/* Ẩn modal mặc định */
.hotline-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

/* Hiển thị modal khi được target  */
.hotline-modal:target {
  display: block;
}

/* Overlay background */
.modal-overlay {
  position:fixed;
  left:0;
  right:0;
  width: 100%;
  height: 100%;
  background: #00000066; /* Màu tối với opacity */
  z-index: 1000;
}

.hotline-list{
  position: fixed;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%); /*Dịch chuyển ngược lại 50% chiều rộng và 50% chiều cao của chính element*/
  z-index: 1003;
  width: 90%;
  max-width: 500px;
  padding: 20px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: rgb(0, 0, 0) 0px 0px 25px;
}
/* Nút đóng */
.modal-close {
    position: absolute;
    top: -5px;
    right: 4px;
    font-size: 24px;
    color: #333;
    font-weight: bold;
    z-index: 1002;
}

.hotline-list :last-child{
  border:none;
  padding:0px;
  margin:0px;
}
.hotline-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom:1px solid #C6C6C6;
  margin:0px 0px 15px;
  padding:0px 0px 15px;
}
.branch-info{
  width:230px;
  height:64px;
}
.branch-info h3{
  width:auto;
  margin:0px;
}
.call-btn{
  display: flex;
  flex-flow: column;
  font-size: 14px;
  width: 70px;
  height: 62px;
  align-items: center;
}
.call-btn img{
  width:40px;
  height: auto;
  max-width: 100%;
  display: block;
}
.call-btn span{
  font-size: 14px;
  font-weight: 400;
  vertical-align: middle;
  color:#103664;
}

.modal-close:hover {
    color: #ff0000;
}

/* Ngăn scroll body khi modal mở */
body:has(.hotline-modal:target) {
    overflow: hidden;
}

/* user actions */

.header-top__actions {
  width: 130px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

a.user-action__item {
  position:relative; 
  display: flex;
  align-items: center;
  justify-content: center;
  width:32px;
  height: 32px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
  margin-right:7px;
  
}
.user-action__item i {
  position:absolute;
  left:8px;
  height: 16px;
  width: 16px;
}
/* cart */
.cart-handle {
  position: absolute;
  width: 16px;
  height: 9px;
  top:-9px;
  
  border: 2px solid #FFFFFF;
  border-radius: 10px 10px 0 0; 
  border-bottom:none;
}

.user-action__item:hover{
  background-color:#221F20;
  border:0px;
}
.cart-item:hover{
  background-color: #ffffff; /* ← Cart-handle thành màu trắng */
  color:#000000;
}
/* css header-bottom */
.header-bottom {
  display:flex;
  align-items: center;
  justify-content: space-between;
  width:100%;
}
/* Nav left */
.header-bottom__nav{
  display:flex;
  justify-content: flex-start;
  padding-left:235px;
}
.header-bottom__nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-nav__item a {
  display:block;
  padding:10px 15px;
  color: #ffffffcc;
  
}
.main-nav__item li{
  background-color: #fff;
  
}


/* dropdown */
.main-nav li{
  position: relative;
}
ul.sub-menu  {
  display:none;
  width:200px;
  position: absolute;
  box-shadow: 0 5px 15px #0000001A; /* ← Hiệu ứng nổi */
}

ul.sub-menu a{
  padding:0px 15px;
  color:#000000;
}

ul.sub-menu li  {
  padding:10px 0px;
  border-bottom:1px solid #ECECEC;
}
ul.sub-menu li:last-child{
  border-bottom:none;
}

.main-nav i{
  float:right;
  margin-left:10px;
  margin-top:5px;
}

/* Style cho dropdown cấp 2 */ 
a.dropdown-item:hover{
  background-color: #ffffff;
}
ul.sub-menu ul.sub-menu{
  left:200px;
  top:0px;
  width:600px;
  /* chia cột */
  column-count: 3; /* Tự động chia cột */
  column-width: 100px; /* Mỗi cột rộng 200px */
  column-gap: 0;
}
ul.sub-menu ul.sub-menu li{
  box-shadow:0px 5px 15px #0000001A;
}

ul.sub-menu ul.sub-menu li a{
  color:rgba(74, 74, 74, 0.85);
}

ul.sub-menu ul.sub-menu li a:hover{
  color:#333333;
}


/* khi hover vào thì tác động đến submenu(sub-menu) ở cấp trực tiếp */
.main-nav li:hover > ul.sub-menu {
  display: block;
}



/* Thiết lập border khi hover */
.main-nav>li>a{
  position:relative;
}
.main-nav>li>a::before{
  content:"";
  position:absolute;
  left:0px;
  bottom:0px;
  width:0px;
  height:2px;
  background-color:var(--button-bg);
  /* không dùng display:none */
  transition:0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}
/* Khi hover vào li tác động vào before của a */
.main-nav>li:hover>a::before{
  width:100%
}

/*Utility Links  */

.header-bottom__utils a{
    display:inline-block;
    padding:10px 0px;
    
    color:#ffffffcc;
}
.util-link img{
    height: 16px;
    width:16px;
    
}
.util-link:hover{
  color:var(--button-bg);
}
/* End header */

/* Footer */
/* Footer */
.footer-top{
  background-color: var(--button-bg);
  width:100%;
  height: auto;
}
.footer-top__content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-newsletter{
  display: flex;
  align-items: center;
  justify-content:space-between;
}
.footer-newsletter img{
  width: 40px;
  height: 36px;
}
.newsletter-form{
  display: flex;
}
.newsletter-title{
  padding:0px 0px 0px 16px;
}

input[type="email"]{
  width: 370px;
  height:39px;
  padding:0px 15px;
  border-radius:7px 0px 0px 7px;
  border:1px solid #DDDDDD;
}
.newsletter-input__btn{
  height:39px;
  background-color:#221F20;
  color:#FFFFFF;
  font-size:18px;
  font-weight:bold;
  margin-left:0px;
  padding:10px 25px;
  border:1px solid #C2A407;
  border-radius: 0 7px 7px 0;

}

/* Footer main */
.footer-main{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom:1px solid #CCCCCC;
  padding:0 15px;
}
.footer-main__store{
  text-align:center;
}
.footer-main__store h3{
  font-size:24px;
  margin:0px 0px 12px;
}
.footer-main__store img{
  width:200px;
  height:auto;
}
.footer-main__store p {
  margin:0px 0px 6px;
}

/* Footer main info */
.footer-main__info{
  display: flex;
}
.footer-main__info-column{
  width:250px;
  padding:0px 15px;
  margin-right:15px;
}
.footer-main__info-column h3{
  font-size:20px;
  margin:0px 0px 15px;
}
.footer-main__info-item{
  
  padding:5px 0px;
  margin-bottom:6px;
  border-bottom:1px solid #ECECEC;
}
.footer-main__info-item span{
  color:#353535;
}
.footer-main__info-item span:hover{
  color:#0b3a4a;
}

/* Footer bottom */
.footer-bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top:15px;
}

/* Footer paymenthod */
.footer-paymentmethod{
  display: flex;
}
.footer-paymentmethod div{
  margin-right:8px;
  background-color:#E2E2E2;
  color:#6E6B6B;
  padding:5px;
  border-radius:5px;
}
.footer-paymentmethod div:hover{
  color:#000000;
}

/* End footer */

/* Box head */

.box-head{
  margin-bottom: 30px;
}

.box-head .inner-title{
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 600;
  color: green;
}
/* End Box head */

/* sub menu */
.sub-menu{
  position: relative;
  z-index: 999;
}

.sub-menu ul{
  position: absolute;
  right: 0;
  top: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #eae9e9;
  min-width: 180px;
  display: none;
}

.sub-menu ul li{
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.sub-menu:hover > ul{
  display: block;
}

.sub-menu ul li {
  position: relative;
}

.sub-menu ul li ul{
  right: 100%;
  top: 0;
}

.sub-menu ul li:hover > ul{
  display: block;
}
/* end sub menu */

/* product-item */
.product-item{
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  height: 100%;
}

.product-item .inner-image{
  width: 100%;
  aspect-ratio: 4/3; /*tự đông điều chỉnh tỉ lệ khung hình ảnh là 4/3 */
  border-bottom: 1px solid #ddd;
  position: relative;
}

.product-item .inner-featured{
  position: absolute;
  top: 0;
  right: 0;
  background: green;
  color: white;
  padding: 3px 6px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 8px;
}

.product-item .inner-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-item .inner-content{
  padding: 10px;
}

.product-item .inner-content .inner-title{
  font-size: 20px;
  font-weight: 600;
}

.product-item .inner-content .inner-price-new{
  font-size: 18px;
  font-weight: 600;
  color: green;
}

.product-item .inner-content .inner-price-old{
  font-size: 18px;
  font-weight: 600;
  color: red;
  text-decoration: line-through;
}

.product-item .inner-content .inner-discount{
  font-size: 14px;
  font-weight: 600;
  color: white;
  background: red;
  display: inline-block;
  padding: 3px 10px;
  border-radius: 8px;
}
/* End product-item */

/* product-detail */
.product-detail .inner-thumb img{
  width: 100%;
  height: auto;
}

.product-detail .inner-title{
  font-size: 32px;
  margin-bottom: 15px;
}

.product-detail .inner-category{
  margin-bottom: 10px;
}

.product-detail .inner-price-new{
  color: green;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px;
}

.product-detail .inner-price-old{
  color: red;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px;
  text-decoration: line-through;
}

.product-detail .inner-percent {
  margin-bottom: 15px;
}

.product-detail .inner-percent span{
  color: white;
  background: red;
  border-radius: 10px;
  font-size: 16px;
  padding: 5px 6px;
}

.product-detail .inner-stock{
  margin-bottom: 15px;
}

.product-detail .inner-stock span{
  color: white;
  background-color: green;
  border-radius: 10px;
  font-size: 16px;
  padding: 5px 6px;
}

/* end product-detail */

/* Show alert */
[show-alert] {
  position: fixed;
  top: 70px;
  right: 0;
  z-index: 9999;
  animation: countdown 4s ease forwards;
  animation: show-alert 2s ease forwards;
}

[show-alert].alert-hidden{
  animation-name: alert-hidden;
  animation-duration: 0.5s; /* thời gian animation chạy */
  animation-fill-mode: both;/*chỉ định kiểu cho phần tử khi thực hiện animation và both là sẽ thực hiện cả 2 hướng */
}

[show-alert] [close-alert]{
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: 600;
  border-radius: 50%;
  cursor: pointer;
}

@keyframes countdown{
    0%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}

@keyframes show-alert{
    0%{
        transform: translateX(100%);
    }

    25%{
        transform: translateX(-10%);
    }
    50%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(-10px);
    }
}

@keyframes alert-hidden{
    0%{
        transform: translateX(-10%);
    }

    25%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-10%);
    }

    100%{
        transform: translateX(200%);
    }
}

/* End show alert */