/* header */
body {
  /* font-size:62.5%; */
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  line-height:1.6;
  height:3000px;
}
* {
  box-sizing: border-box;
}
:root{
  --header-bg:#08222f;
  --button-bg:#ffde02;
  --hover-button-bg:#CCB202;
}

.header{
  background-color: var(--header-bg);
  width:100%;
  position: sticky;
  top:0px;
  z-index: 1000;
}
.container{
  max-width:1340px;
  margin:0 auto; /* căn giữa */
  padding-left: 15px;
  padding-right: 15px;
  
}

a{
  text-decoration:none;
}

.header-top {
  align-items: center;
  display: flex;
  width:100%;
  
}

.header-top__logo img {
  width: 190px;
  height: 70px;
}
.header-top__middle {
  display: flex;
  
  flex:1;/* ← Chiếm không gian còn lại */
  margin-left:60px;
  margin-right:20px;
  /* padding: 0px 15px 0px 0px; */
}

/* Input search */

input[type=search]{
  height: 48px;
  flex:1;
  padding: 0 10px;
  border-radius: 10px;
  border:0px;
}

.header-top__search{
  width: 48px;
  height: 48px;
  margin: 0px 0px 0px 14px;
  padding: 0px 8px;
  border-radius: 10px;
  background-color: var(--button-bg);
  border:0px;
}
.header-top__search i {
  height: 16px;
  width: 16px;
}

/* hotline */
.header-top__hotline {
  width: 140px;
  height: 48px;
  padding:3px 15px;
  margin-left: 14px;
  background-color: var(--button-bg);
  border-radius: 10px;
  display: flex;
  /* căn giữa ở trên */
  align-items: center;
  /* căn giữa 2 bên */
  justify-content: center;
}

.header-top__hotline span {
  display:inline-block;
  color: #221f20;
  font-size: 18px;
  font-weight: bold;
}
.header-top__hotline i {
  width: 18px;
  height: 17px;
  color: #000000;
}
button.header-top__search:hover  {
  background-color:#CCB202;
}
.header-top__hotline:hover {
  background-color:#CCB202;
}

/* user actions */

.header-top__actions {
  width: 130px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a.user-action__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width:32px;
  height: 32px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
  margin-right:7px;
  
}
.user-action__item i {
  height: 16px;
  width: 16px;
  
}
.header-top__actions p{
  color:#ffffff;
}
.user-action__item:hover{
  background-color:#221F20;
  border:0px;
  
}

/* css header-bottom */
.header-bottom {
  display:flex;
  align-items: center;
  justify-content: space-between;
  width:100%;
}
/* Nav left */
.header-bottom__nav{
  display:flex;
  justify-content: flex-start;
  padding-left:235px;
}
.header-bottom__nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}


.main-nav a {
  display:block;
  padding:10px 15px;
  color: #ffffffcc;
  
}


/* dropdown */
.main-nav li{
  position: relative;
}
ul.dropdown-menu  {
  display:none;
  width:200px;
  position: absolute;
  background-color:#08222f;  
  
}

ul.dropdown-menu a{
  padding:0px 15px;
}

ul.dropdown-menu li  {
  padding:10px 0px;
  color: #ffffffcc;
  border-bottom:1px solid #ECECEC;
}
ul.dropdown-menu li:last-child{
  border-bottom:none;
}

.main-nav i{
  float:right;
  margin-left:10px;
  margin-top:5px;
}

/* Style cho dropdown cấp 2 */ 
ul.dropdown-menu ul.dropdown-menu{
  left:200px;
  top:0px;
}
ul.dropdown-menu ul.dropdown-menu li a{
  color:#b5b5b5cc;
}
ul.dropdown-menu li a:hover{
  color:var(--button-bg);
}
ul.dropdown-menu ul.dropdown-menu li a:hover{
  background-color: #0b3a4a;
  color:#ffffffcc;
}
ul.dropdown-menu ul.dropdown-menu li:hover{
  background-color: #0b3a4a;
  
}

/* khi hover vào thì tác động đến submenu(dropdown-menu) ở cấp trực tiếp */
.main-nav li:hover>ul.dropdown-menu{
  display:block;
}

/* Thiết lập border khi hover */
.main-nav>li>a{
  position:relative;
}
.main-nav>li>a::before{
  content:"";
  position:absolute;
  left:0px;
  bottom:0px;
  width:0px;
  height:2px;
  background-color:var(--button-bg);
  /* không dùng display:none */
  transition:0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}
/* Khi hover vào li tác động vào before của a */
.main-nav>li:hover>a::before{
  width:100%
}

/*Utility Links  */

.header-bottom__utils a{
    display:inline-block;
    padding:10px 0px;
    
    color:#ffffffcc;
}
.util-link img{
    height: 16px;
    width:16px;
    
}
.util-link:hover{
  color:var(--button-bg);
}
/* End header */

/* Footer */
.footer{
  background-color: #333;
  text-align: center;
  color: white;
  padding: 5px 0;
}

/* End footer */

/* Box head */

.box-head{
  margin-bottom: 30px;
}

.box-head .inner-title{
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 600;
  color: green;
}
/* End Box head */

/* sub menu */
.sub-menu{
  position: relative;
  z-index: 999;
}

.sub-menu ul{
  position: absolute;
  right: 0;
  top: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #eae9e9;
  min-width: 180px;
  display: none;
}

.sub-menu ul li{
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.sub-menu:hover > ul{
  display: block;
}

.sub-menu ul li {
  position: relative;
}

.sub-menu ul li ul{
  right: 100%;
  top: 0;
}

.sub-menu ul li:hover > ul{
  display: block;
}
/* end sub menu */

/* product-item */
.product-item{
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  height: 100%;
}

.product-item .inner-image{
  width: 100%;
  aspect-ratio: 4/3; /*tự đông điều chỉnh tỉ lệ khung hình ảnh là 4/3 */
  border-bottom: 1px solid #ddd;
  position: relative;
}

.product-item .inner-featured{
  position: absolute;
  top: 0;
  right: 0;
  background: green;
  color: white;
  padding: 3px 6px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 8px;
}

.product-item .inner-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-item .inner-content{
  padding: 10px;
}

.product-item .inner-content .inner-title{
  font-size: 20px;
  font-weight: 600;
}

.product-item .inner-content .inner-price-new{
  font-size: 18px;
  font-weight: 600;
  color: green;
}

.product-item .inner-content .inner-price-old{
  font-size: 18px;
  font-weight: 600;
  color: red;
  text-decoration: line-through;
}

.product-item .inner-content .inner-discount{
  font-size: 14px;
  font-weight: 600;
  color: white;
  background: red;
  display: inline-block;
  padding: 3px 10px;
  border-radius: 8px;
}
/* End product-item */

/* product-detail */
.product-detail .inner-thumb img{
  width: 100%;
  height: auto;
}

.product-detail .inner-title{
  font-size: 32px;
  margin-bottom: 15px;
}

.product-detail .inner-category{
  margin-bottom: 10px;
}

.product-detail .inner-price-new{
  color: green;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px;
}

.product-detail .inner-price-old{
  color: red;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px;
  text-decoration: line-through;
}

.product-detail .inner-percent {
  margin-bottom: 15px;
}

.product-detail .inner-percent span{
  color: white;
  background: red;
  border-radius: 10px;
  font-size: 16px;
  padding: 5px 6px;
}

.product-detail .inner-stock{
  margin-bottom: 15px;
}

.product-detail .inner-stock span{
  color: white;
  background-color: green;
  border-radius: 10px;
  font-size: 16px;
  padding: 5px 6px;
}

/* end product-detail */

/* Show alert */
[show-alert] {
  position: fixed;
  top: 70px;
  right: 0;
  z-index: 9999;
  animation: countdown 4s ease forwards;
  animation: show-alert 2s ease forwards;
}

[show-alert].alert-hidden{
  animation-name: alert-hidden;
  animation-duration: 0.5s; /* thời gian animation chạy */
  animation-fill-mode: both;/*chỉ định kiểu cho phần tử khi thực hiện animation và both là sẽ thực hiện cả 2 hướng */
}

[show-alert] [close-alert]{
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: 600;
  border-radius: 50%;
  cursor: pointer;
}

@keyframes countdown{
    0%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}

@keyframes show-alert{
    0%{
        transform: translateX(100%);
    }

    25%{
        transform: translateX(-10%);
    }
    50%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(-10px);
    }
}

@keyframes alert-hidden{
    0%{
        transform: translateX(-10%);
    }

    25%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-10%);
    }

    100%{
        transform: translateX(200%);
    }
}

/* End show alert */