extends ../../layouts/default.pug  
include ../../mixins/box-head.pug
include ../../mixins/product-layout.pug

//- bắt buộc phải cách 4 dấu cách dưới block main không là lỗi
block main 
  .container.my-3 
    .row 
      .col-12 
        +box-head(pageTitle)

    +product-grid-products(products)    