extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-layout.pug
include ../../mixins/product-item.pug
include ../../mixins/news-layout.pug
include ../../mixins/moment.pug
include ../../mixins/flash-sale.pug

block main
  //- Banner Section
  section.hero-banner
    .container
      .banner-top
        .banner-top__left
          .slider-container
            .slides
              a.slider(href="/products/detail/vot-cau-long-kuno-smart-t993-thien-cong-4u-chat-lieu-high-modulus-graphite-chong-xoan-chong-rung-cang-san-11kg")
                img(src="/images/banner5.png" alt="")

              a.slider(href="/products/detail/giay-cau-long-kumpoo-g10-chinh-hang-1")
                img(src="/images/banner1.png" alt="")

              a.slider(href="/products/detail/vot-cau-long-carbon-sieu-nhe-aolerui-isometric-thunder-pro-a-666")
                img(src="/images/banner2.png" alt="")

              a.slider(href="/products/detail/vot-cau-long-kuno-ky-ban-nang-cap-chuyen-cong-cong-nghe-high-carbon-bieu-tuong-boi-suc-manh-va-djang-cap")
                img(src="/images/banner3.jpg" alt="")

              a.slider(href="/products/detail/giay-cau-long-bong-chuyen-kawasaki-c32013-new2025-cay-san-be-tong-sieu-ben-chinh-hang")
                img(src="/images/banner4.png" alt="")

              a.slider(href="/products/detail/vot-cau-long-kuno-smart-t993-thien-cong-4u-chat-lieu-high-modulus-graphite-chong-xoan-chong-rung-cang-san-11kg")
                img(src="/images/banner5.png" alt="")

              a.slider(href="/products/detail/giay-cau-long-kumpoo-g10-chinh-hang-1")
                img(src="/images/banner1.png" alt="")
            
            .navigation-slides
              span.nav-btn.active(data-index="0")
              span.nav-btn(data-index="1")
              span.nav-btn(data-index="2")
              span.nav-btn(data-index="3")
              span.nav-btn(data-index="4")
            
            .slider-controls
              .slider-prev
                i.fa-solid.fa-chevron-left
              .slider-next
                i.fa-solid.fa-chevron-right

        .banner-top__right
          .slider-container.container-right
            .slides.right
              a(href="/products/detail/giay-cau-long-pickleball-kumpoo-e303-new2025-dje-kep-2-lop-choi-tren-moi-mat-san-chinh-hang-1")
                img(src="/images/banner-slider2.png" alt="banner2")
              a(href="/products/detail/giay-cau-long-pickleball-kumpoo-e303-new2025-dje-kep-2-lop-choi-tren-moi-mat-san-chinh-hang-1")
                img(src="/images/banner-slider1.png" alt="banner1")
              a(href="/products/detail/giay-cau-long-pickleball-kumpoo-e303-new2025-dje-kep-2-lop-choi-tren-moi-mat-san-chinh-hang-1")
                img(src="/images/banner-slider2.png" alt="banner2")
              a(href="/products/detail/giay-cau-long-pickleball-kumpoo-e303-new2025-dje-kep-2-lop-choi-tren-moi-mat-san-chinh-hang-1")
                img(src="/images/banner-slider1.png" alt="banner1")
            
            .navigation-slides
              span.nav-btn.active(data-index="1")
              span.nav-btn(data-index="2")
            
            .slider-controls.control-right
              .slider-prev
                i.fa-solid.fa-chevron-left
              .slider-next
                i.fa-solid.fa-chevron-right

    .container
      .banner-bottom
        .banner-bottom__item
          a(href="/products/detail/giay-cau-long-mira-chinh-hang")
            img(src="/images/banner-bottom__item1.png" alt="")
        .banner-bottom__item
          a(href="/products/detail/giay-cau-long-bong-chuyen-tre-em-lefus-l1087-hang-cong-ty")
            img(src="/images/banner-bottom__item2.png" alt="")

  //- Flash Sale Section
  section.flash-sale-section
    .container
      .flash-sale
        .featured-product
          .featured-container
            p
              span.section-title
                strong CHỈ CÓ TRONG HÔM NAY
            a.product-link.featured(href="#")
              img.product-image.featured(src="/images/flash-sale/vot1.png" alt="Bộ 2 vợt cầu lông AOLIKES A-6631")
              p.product-description Bộ 2 vợt cầu lông hợp kim nhôm cao cấp
              p.product-name AOLIKES A-6631
            .price-section
              span.sale-price 3.800.000
              span.original-price 6.999.999
            ul.rating-stars.featured
              each star in [1,2,3,4,5]
                li
                  img(src="/images/flash-sale/star.png" alt="5 sao")
            .discount-tag.featured
              span -55%

        .flash-sale-wrapper
          .flash-sale-product
            .flash-sale-title
              span SẢN PHẨM
              img.flash-icon(src="/images/flash-sale/flash.gif" alt="Flash icon")
              span  NỔI BẬT

            .container-products
              .product-slides
                +flash-sale-slides(productsFeatured)

              .slider-controls.slider-product
                .slider-prev
                  i.fa-solid.fa-chevron-left
                .slider-next
                  i.fa-solid.fa-chevron-right

          a.advertisement(href="#")
            img.ad-image(src="/images/flash-sale/qc.png" alt="Quảng cáo")

  //- Best Seller Section
  section.product-section.best-seller
    .container
      .product-wrapper
        .title
          span SẢN PHẨM BÁN CHẠY
        .container-product
          .banner-product
            img.container-product-banner__img(src='/images/sanphambc/sp1.jpg' alt='banner1.1')

          .product-list
            +product-grid(newBestSellingProducts)

  //- New Products Section
  section.product-section.new-products
    .container
      .product-wrapper
        .title
          span SẢN PHẨM MỚI
          
        .container-product
          .banner-product
            img.container-product-banner__img(src='/images/sanphammoi/sp1.jpg' alt='banner1.1')

          .product-list
            +product-grid(productsNew)

  //- Rackets Section
  section.product-section.rackets
    .container
      .product-wrapper
        .title
          span VỢT CẦU LÔNG
          a.product-extend(href='/products/vot-cau-long')
            span Xem thêm
            i.fa-solid.fa-angle-right
        .container-product
          .banner-product
            img.container-product-banner__img(src='/images/votcaulong/sp1.jpg' alt='banner1.1')

          .product-list
            +product-grid(newRacketProducts)

  //- Shoes Section
  section.product-section.shoes
    .container
      .product-wrapper
        .title
          span GIÀY CẦU LÔNG
          a.product-extend(href='/products/giay-cau-long')
            span Xem thêm
            i.fa-solid.fa-angle-right
        .container-product
          .banner-product
            img.container-product-banner__img(src='/images/giaycaulong/sp1.jpg' alt='banner1.1')

          .product-list
            +product-grid(newShoeProducts)

  //- Accessories Section
  section.product-section.accessories
    .container
      .product-wrapper
        .title
          span PHỤ KIỆN CẦU LÔNG
          a.product-extend(href='/products/phu-kien-cau-long')
            span Xem thêm
            i.fa-solid.fa-angle-right
        .container-product
          .banner-product
            img.container-product-banner__img(src='/images/phukien/sp1.jpg' alt='banner1.1')

          .product-list
            +product-grid(newAccessoryProducts)

  //- Banner Middle Section
  section.banner-middle-section
    .container
      .banner-middle-wrapper
        .title
          span ĐỪNG BỎ LỠ
        .banner-middle
          .col-left.banner-middle__left
            .slider-container
              .slides
                a.slider(href="/products/detail/giay-cau-long-pickleball-kumpoo-e305-mau-moi-dje-kep-2-lop-da-pu-cao-cap-chinh-hang-1")
                  img(src="/images/banner-middle/banner-middle-1-4.png" alt="")

                a.slider(href="/products/detail/giay-cau-long-pickleball-kumpoo-e305-mau-moi-dje-kep-2-lop-da-pu-cao-cap-chinh-hang-1")
                  img(src="/images/banner-middle/banner-middle-1.png" alt="")

                a.slider(href="/products/detail/giay-cau-long-pickleball-kumpoo-e305-mau-moi-dje-kep-2-lop-da-pu-cao-cap-chinh-hang-1")
                  img(src="/images/banner-middle/banner-middle-1-1.png" alt="")

                a.slider(href="/products/detail/giay-cau-long-pickleball-kumpoo-e305-mau-moi-dje-kep-2-lop-da-pu-cao-cap-chinh-hang-1")
                  img(src="/images/banner-middle/banner-middle-1-2.png" alt="")

                a.slider(href="/products/detail/giay-cau-long-pickleball-kumpoo-e305-mau-moi-dje-kep-2-lop-da-pu-cao-cap-chinh-hang-1")
                  img(src="/images/banner-middle/banner-middle-1-3.png" alt="")

                a.slider(href="/products/detail/giay-cau-long-pickleball-kumpoo-e305-mau-moi-dje-kep-2-lop-da-pu-cao-cap-chinh-hang-1")
                  img(src="/images/banner-middle/banner-middle-1-4.png" alt="")

                a.slider(href="/products/detail/giay-cau-long-pickleball-kumpoo-e305-mau-moi-dje-kep-2-lop-da-pu-cao-cap-chinh-hang-1")
                  img(src="/images/banner-middle/banner-middle-1.png" alt="")
              
              .navigation-slides
                span.nav-btn.active(data-index="0")
                span.nav-btn(data-index="1")
                span.nav-btn(data-index="2")
                span.nav-btn(data-index="3")
                span.nav-btn(data-index="4")
              
              .slider-controls
                .slider-prev
                  i.fa-solid.fa-chevron-left
                .slider-next
                  i.fa-solid.fa-chevron-right

          .col-right.banner-middle__right
            .banner-middle-right__top
              a.banner-right-top__left(href="/products/detail/giay-cau-long-wika-flexi-sieu-nhe-sieu-em")
                img(src="/images/banner-middle/banner-middle-2.png" alt="")

              a.banner-right-top__right(href="/products/detail/giay-cau-long-pickleball-tennis-lefus-l033-namnu-sieu-em-ben-cay-san-be-tong-hang-cong-ty")
                img(src="/images/banner-middle/banner-middle-3.png" alt="")
            .banner-middle-right__bottom
              a(href="/products/detail/vot-cau-long-victor-thruster-k-220h-ii-4u-chinh-hang")
                img(src="/images/banner-middle/banner-middle-4.png" alt="")

  //- News Section
  section.news-section
    .container
      .news-wrapper
        .title
          span Tin tức
        +news-grid-home(newsFeatured)

  //- Stores Section
  section.stores-section
    .container
      .stores-wrapper
        .title.stores
          b(aria-hidden="true")
          span HỆ THỐNG CỬA HÀNG
          b(aria-hidden="true")
        .title.stores
          span THẾ GIỚI CẦU LÔNG
        .stores-group
          .col3.store-item
            img(src="/images/hethongcuahang/store1.png" alt="")
            .store-info
              strong Hệ thống Thế giới cầu lông chi nhánh Hà Đông
              ul
                li
                  i.fas.fa-map-marked-alt
                  | 176 Chiến Thắng, Văn Quán, Hà Đông, Hà Nội
                li
                  i.fa-solid.fa-phone
                  | 0838010188
                li
                  i.fa-solid.fa-envelope
                  | contact@thegioicaulong.com
                li
                  i.fa-solid.fa-door-open
                  | 09:00 AM - 19:00 PM
                li
                  a.store-detail-btn(href='https://www.google.com/maps/place/H%E1%BB%87+th%E1%BB%91ng+Th%E1%BA%BF+Gi%E1%BB%9Bi+C%E1%BA%A7u+L%C3%B4ng+-+Chi+nh%C3%A1nh+H%C3%A0+%C4%90%C3%B4ng/@20.9792649,105.7960549,783m/data=!3m2!1e3!4b1!4m6!3m5!1s0x3135ad9b7761a509:0xa6b489f85442069c!8m2!3d20.9792649!4d105.7960549!16s/g/11y8sdrdw7?entry=ttu&g_ep=EgoyMDI1MTEyMy4xIKXMDSoASAFQAw==' target='_blank') Chi Ti&#x1EBF;t
                  a.store-direction-btn(href='https://www.google.com/maps/dir//20.979266,105.796062' target='_blank')
                    i.fa-solid.fa-location-arrow
                    |Chỉ đường 
          .col3.store-item
            img(src="/images/hethongcuahang/store2.png" alt="")
            .store-info
              strong Hệ Thống Thế Giới Cầu Lông chi nhánh Cầu Giấy
              ul
                li
                  i.fas.fa-map-marked-alt
                  | 106B1 Tô Hiệu, Nghĩa Tân, Cầu Giấy, Hà Nội
                li
                  i.fa-solid.fa-phone
                  | 0838010188
                li
                  i.fa-solid.fa-envelope
                  | contact@thegioicaulong.com
                li
                  i.fa-solid.fa-door-open
                  | 09:00 AM - 19:00 PM
                li
                  a.store-detail-btn(href='https://www.google.com/maps/place/H%E1%BB%87+Th%E1%BB%91ng+Th%E1%BA%BF+Gi%E1%BB%9Bi+C%E1%BA%A7u+L%C3%B4ng+-+Chi+Nh%C3%A1nh+C%E1%BA%A7u+Gi%E1%BA%A5y/@21.0451077,105.7939876,17z/data=!3m1!4b1!4m6!3m5!1s0x3135ab4b448caffd:0x177b47935703a24e!8m2!3d21.0451027!4d105.7965625!16s%2Fg%2F11td5rnbpq?coh=219816&entry=tts&g_ep=EgoyMDI0MDgxNC4xKgBIAVAD' target='_blank') Chi Ti&#x1EBF;t
                  a.store-direction-btn(href='https://www.google.com/maps/dir//21.045097,105.796733' target='_blank')
                    i.fa-solid.fa-location-arrow
                    |Chỉ đường 
          .col3.store-item
            img(src="/images/hethongcuahang/store3.png" alt="")
            .store-info
              strong Hệ thống Thế giới cầu lông chi nhánh Mỹ Đình
              ul
                li
                  i.fas.fa-map-marked-alt
                  | 236 Mỹ Đình, Nam Từ Liêm, Hà Nội
                li
                  i.fa-solid.fa-phone
                  | 0814010188
                li
                  i.fa-solid.fa-envelope
                  | contact@thegioicaulong.com
                li
                  i.fa-solid.fa-door-open
                  | 09:00 AM - 19:00 PM
                li
                  a.store-detail-btn(href='https://www.google.com/maps/place/Th%E1%BA%BF+Gi%E1%BB%9Bi+C%E1%BA%A7u+L%C3%B4ng+M%E1%BB%B9+%C4%90%C3%ACnh/@21.0271225,105.7684631,17z/data=!3m1!4b1!4m6!3m5!1s0x313455853f767f67:0xbca571a9c2bbb98b!8m2!3d21.0271176!4d105.773334!16s%2Fg%2F11sts57gsy?coh=219816&entry=tts&g_ep=EgoyMDI0MDgxNC4xKgBIAVAD' target='_blank') Chi Ti&#x1EBF;t
                  a.store-direction-btn(href='https://www.google.com/maps/dir//21.027114,105.773318' target='_blank')
                    i.fa-solid.fa-location-arrow
                    |Chỉ đường 
  
  //- Services
  section.services-section
    .container
      .services-group
        //-item1
        .col-3.service-item
          img(src='/images/services/hoantien.png' alt='')
          .service-name
            span HOÀN TIỀN 
          p Thế giới cầu lông cam kết hoàn tiền 100% nếu phát hiện hàng giả
        //-item2
        .col-3.service-item
          img(src='/images/services/giaohang.png' alt='')
          .service-name
            span GIAO HÀNG TOÀN QUỐC
          p Miễn phí với đơn hàng từ 1 triệu đồng khi mua tại Thế giới cầu lông
        //-item3
        .col-3.service-item
          img(src='/images/services/tuvan.png' alt='')
          .service-name
            span TƯ VẤN 24/7
          p Đội ngũ tư vấn của Thế giới cầu lông luôn nhiệt tình và chuyên nghiệp

  script(src="/js/banner_trangchu.js")
  script(src="/js/SP_noibat.js")
  
