include product-item.pug

//- Mixin cho product grid
mixin product-grid-products(products)
  .product-area
    .product-grid
      each item in products
        +product-item(item)

//- Mixin cho product grid với grouping (nếu cần)
mixin product-grid(products)
  - const group1 = products.slice(0, 4)
  - const group2 = products.slice(4, 8)
  
  .product-area
    .product-group.item
      each item in group1
        +product-item(item)
    
    .product-group.item
      each item in group2
        +product-item(item)

mixin product-grid-card(products)
  .product-area
    .product-grids
      each item in products
        +list-product-item(item)
