include product-item.pug

mixin product-grid(products)
    - const group1 = products.slice(0, 4)
    - const group2 = products.slice(4, 8)
    
    .product-group.item
      each item in group1
        +product-item(item)
    
    .product-group.item
      each item in group2
        +product-item(item)

