extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-layout.pug
include ../../mixins/pagination.pug
include ../../mixins/filter-box.pug

block main
  .container
    .page-header
      .breadcrumb-title
          a(href="/") Trang chủ
          span.separator >
          span.current-page= pageTitle
    .row
      .col-md-3.sidebar
        +product-filters(categoriesFilter, categoriesBrandFilter, queryParams)

      .col-md-9.products-list
        +product-grid-card(products)

  +pagination(pagination)

  script(src="/js/product.js") 